# Place this in the caddy/conf directory
:80 {
    handle_path /grpc* {
        reverse_proxy tavern:80
    }

    handle {
        basicauth {
	    # Generate password with caddy hash-password --plaintext 'yourpassword'
	    # The below line should look like: user asdvoiajse99wu30pf9j23f02jfjnslvkjew09
            {USER} {PASSWORD BCRYPT}
        }
        reverse_proxy tavern:80
    }
}
